.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 150px;
}

.App-header {
  background-color: #2DE1C2;
  height: 150px;
  padding: 20px;
  color: white;
}

.P90X-block {
  width: 12%;
  height: 180px;
  background-color: whitesmoke;
  display: flex;
  margin: 5px;
  border: palevioletred 2px solid;
}

.complete {
  background-color: palevioletred;
}

.day-number {
  font-size: 100px;
}

.block-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.meals-container {
  padding: 0 20px;
  background-color: #efefef;
}

.flex-box {
  display: flex;
}

.column {
  flex-direction: column;
}

.category {
  padding-top: 50px;
}

.padding {
  padding: 20px 0;
}

.bold {
  font-weight: bold;
}

.meal-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.display-flex {
  display: flex;
}

.pencil {
  width: 16px;
  height: 16px;
  padding-left: 4px;
}

.input {
  display: flex;
}


/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
