.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 150px;
}

.App-header {
  background-color: #2DE1C2;
  height: 150px;
  padding: 20px;
  color: white;
}

.flex-box {
  display: flex;
}

.column {
  flex-direction: column;
}

.category {
  padding-top: 50px;
}

.foodcolumn {
  flex-basis: 25%;
}

.sixth {
  flex-basis: 16.667%;
}

.column-title {
  font-size: 22px;
  font-weight: bold;
}

.column-subtitle {
  padding: 20px 0;
  font-weight: bold;
}

.carbbox {
  height: 120px;
}

.Meal {
  border: 1px black solid;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
